:root {
	/* dark shades of primary color*/
	--primary: #efb6b2;
	--secondary: #4e4e4e;
	--clr-primary-1: hsl(184, 91%, 17%);
	--clr-primary-2: hsl(185, 84%, 25%);
	--clr-primary-3: hsl(185, 81%, 29%);
	--clr-primary-4: hsl(184, 77%, 34%);
	--clr-primary-5: #2caeba;
	/* lighter shades of primary color */
	--clr-primary-6: hsl(185, 57%, 50%);
	--clr-primary-7: hsl(184, 65%, 59%);
	--clr-primary-8: hsl(184, 80%, 74%);
	--clr-primary-9: hsl(185, 94%, 87%);
	--clr-primary-10: hsl(186, 100%, 94%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
	--bg-c: rgba(31, 41, 55, 1);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.dark {
	--bg: var(--bg-c);
	--bg-nav: var(--bg-c);
	--bg-dropdown: var(--gray6);
	--text: var(--clr-white);
	--text-secondary: var(--gray1);
	--border-color: var(--primary);
}
.light {
	--bg: var(--white);
	--bg-nav: var(--white);
	--bg-dropdown: var(--gray0);
	--text: var(--bg-c);
	--border-color: var(--primary);
}
body {
	background-color: var(--bg);
	color: var(--text);
}
a.link {
	color: var(--primary) !important;
}
.link {
	color: var(--primary) !important;
}
p a {
	color: var(--primary) !important;
}
svg {
	fill: var(--primary);
}
h1,
h2,
h3,
h4 {
	color: var(--primary) !important;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--text);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/* section */
.section {
	width: 90vw;
	/* margin: 0 auto; */
	max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
}
input {
	border-color: transparent;
	padding: 0.5rem 1rem;
	font-size: 16px !important;
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	border-bottom: 1px solid var(--primary);
	border-left: 1px solid var(--primary);
	border-top: 1px solid var(--primary);
}
.container {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	padding-left: 2rem;
}
.container h3 {
	margin-bottom: 0;
	margin-right: 2rem;
}
.loading {
	text-align: center;
}

.underline {
	width: 5rem;
	height: 0.25rem;
	margin-bottom: 1.25rem;
	background: var(--clr-primary-5);
	margin-left: auto;
	margin-right: auto;
}
.title {
	margin: 5rem 0 2rem;
	text-align: center;
}
.fas::before,
.fab::before {
	color: var(--primary);
	fill: var(--primary);
}

.btn-color {
	background: var(--primary);
	padding: 0.45rem 1rem;
	font-size: 1.2rem;
	border-color: transparent;

	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	text-transform: capitalize;
	color: var(--text);
	/* border: 1px solid var(--primary); */
	cursor: pointer;
}

@media screen and (max-width: 576px) {
	.container h3 {
		font-size: 1rem;
	}
	input {
		font-size: 16px;
	}

	.btn {
		font-size: 0.75rem;
	}
}
input.error {
	border: 2px solid var(--clr-red-dark);
}
.colors {
	min-height: calc(100vh - 100px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}
.color {
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 1rem;
	text-transform: none;
}
.percent-value {
	margin-bottom: 0;
	color: var(--clr-grey-1);
}
.color-value {
	color: var(--clr-grey-1);
	margin-bottom: 0;
}
.color-light .color-value {
	color: var(--clr-white);
}
.color-light .percent-value {
	color: var(--clr-white);
}
.alert-light {
	color: var(--clr-white);
}

.alert {
	text-transform: capitalize;
	font-size: 0.85rem;
	margin-top: 0.5rem;
	/* color: var(--secondary); */
}
.jobs-center {
	width: 80vw;
	margin: 0 auto;
	max-width: var(--max-width);
}
.jobs-center-projects {
	width: 90vw;
	margin: 0 auto;
	/* display: grid;
	grid-template-columns: 200px 1fr;
	column-gap: 4rem; */
}
.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4rem;
	flex-wrap: wrap;
}
/* .btn-container-projects {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
} */
.job-btn {
	background: transparent;
	border-color: transparent;
	text-transform: capitalize;
	font-size: 1.25rem;
	letter-spacing: var(--spacing);
	margin: 0 0.5rem;
	transition: var(--transition);
	cursor: pointer;
	padding: 0.25rem 0;
	line-height: 1;
	outline-color: var(--clr-primary-10);
}
.job-btn:hover {
	color: var(--clr-primary-5);
	box-shadow: 0 2px var(--clr-primary-5);
}
.active-btn {
	color: var(--clr-primary-5);
	box-shadow: 0 2px var(--clr-primary-5);
}

.job-info h3 {
	font-weight: 400;
}
.job-info h4 {
	text-transform: uppercase;
	color: var(--text);
	background: var(--clr-grey-9);
	display: inline-block;
	padding: 0.375rem 0.75rem;
	border-radius: var(--radius);
}
.job-date {
	letter-spacing: var(--spacing);
}
.job-desc {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 2rem;
	align-items: center;
	margin-bottom: 1.25rem;
}
.job-desc p {
	margin-bottom: 0;
	color: var(--text);
}
.job-icon {
	color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
	.jobs-center {
		width: 90vw;
		display: grid;
		grid-template-columns: 200px 1fr;
		column-gap: 4rem;
	}
	.btn-container {
		flex-direction: column;
		justify-content: flex-start;
	}
	.job-btn {
		margin-bottom: 1rem;
	}
	.active-btn {
		box-shadow: -2px 0 var(--clr-primary-5);
	}
	.job-btn:hover {
		box-shadow: -2px 0 var(--clr-primary-5);
	}
}
.btn {
	text-transform: uppercase;
	background: var(--clr-primary-5);
	color: var(--clr-primary-9);
	padding: 0.3rem 0.7rem;
	letter-spacing: var(--spacing);
	font-weight: 700;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	font-size: 0.875rem;
	border: 1px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: var(--radius);
	display: block;
	width: 12rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 3rem;
}
.btn:hover {
	color: var(--clr-primary-1);
	background: var(--clr-primary-8);
}
